 .hidden {
     visibility: hidden;
 }

.visible{
    visibility: visible;
    display: inline-block;
    position: fixed;
    bottom: 10vh;
    right: 0;
    height: 3.5vh;
    width: 5vh;
    font-size: 4vmin;

}