 .hidden {
     visibility: hidden;
 }

.visible {
    visibility: visible;
    display: block;
    position: fixed;
    bottom: 10vh;
    right: 0;
    padding-right: 1vh;
    font-size: 4vmin;
}

@media only screen and (max-width: 480px) {
    .visible {
        font-size: 8vmin;
    }       
}