.releasePreview .releaseHeadline{
  width: 100%;
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  border-bottom: solid #ffcebe;
  box-sizing: border-box;
}

.releasePreview {
  display: flex;
  align-items: flex-start;
  object-fit: scale-down;
  width: 100%;
  margin-top: 1vh;
  margin-right: 2vh;
  padding: 0;
}

.releasePreview img {
  object-fit: scale-down;
  display: flex;
  max-width: 15vh;
  max-height: 15vh;
  margin-right: 1vh;
}

.releasePreviewWrapper {  
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

/* Tablet sizing */
@media only screen and (max-width: 768px) {
  /* .releasePreview .releaseHeadline {
    font-size: 2.5vmin;
  } */
}

/* Mobile screen sizing */
@media only screen and (max-width: 480px) {
  .releasePreview img {
    height: 14vh;
    width: 14vh;
    object-fit: scale-down;
  }

  /* .releasePreview .releaseHeadline {
    font-size: 4.75vmin;
  } */

  .releasePreview {
    display: flex;
  }

  .releasePreviewWrapper {
    width: 100%;
    height: 10vh;
    display: flex;
    margin-bottom: 1vh;
  }
}