.releasePreview .releaseHeadline{
  width: 100%;
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  border-bottom: solid #ffcebe;
  box-sizing: border-box;
}

.releasePreview {
  display: flex;
  align-items: flex-start;
  object-fit: scale-down;
  width: 100%;
  margin-top: 2vh;
  margin-right: 2vh;
  padding: 0;
}
.releasePreview img {
  object-fit: scale-down;
  display: flex;
  max-width: 15vh;
  max-height: 15vh;
  margin-right: 1vh;
}

.mediaPlayer {
  margin-top: 1vh;
}

.releasePreviewWrapper {  
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

@media only screen and (max-width: 1030px) {
  .releasePreview img {
    height: 14vh;
    width: 14vh;
    object-fit: scale-down;
  }

  .releasePreview {
    width: 100%;
    display: flex;
  }

  .releasePreviewWrapper {
    width: 50%;
    height: 10vh;
    display: flex;
    margin-bottom: 1.5vh;
  }

  #latestReleases .releasePreviewWrapper {
    width: 100%;
  }
}