.name {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    margin: 1vh;
    max-width: 30vh
}

.location {
    font-size: .5em;
    line-height: 1em;
    margin-top: 1vh;
}

.artistPhoto {
    max-width: 40vh;
    max-height: 30vh;
    object-fit: cover;
}

.bio {
    padding: 0;
    margin: 0;
    border-top: solid #ffcebe;
    width: 100%;
}

.desc {
    display: flex;
    object-fit: scale-down;
    max-height: 30vh;
    margin-bottom: 1.5vh;
    border: solid green;
}

.desc img {
    display: flex;
    width: 100%;
}


.artistSlide {
    display: flex;
    flex-flow: column wrap;
}

@media only screen and (max-width: 1024px) {
    .artistPhoto {
        min-width: 10vh;
        max-width: 40vh;
        height: auto;
        object-fit: scale-down;
    }
}