.artistSlide .name {
    font-size: 3vmin;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Karla', sans-serif;
    margin-top: .25vh;
    border-top: solid #ffcebe;
}

/* .artistSlide .location {
    font-size: 1.2vw;
    line-height: 1em;
} */

.artistSlide img {
    display: flex;
    width: inherit;
    height: 10vh;
    object-fit: contian;
}

.artistSlide {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    max-width: 20vh;
}

@media only screen and (max-width: 780px) {
    .artistSlide .name {
        font-size: 3vmin;
        /* word-break: break-word; */
    }
}

@media only screen and (max-width: 500px) {
    .artistSlide .name {
        font-size: 4vmin;
        /* word-break: break-word; */
    }
}