#news {
  grid-area: news;
}

#releasesPreview {
  grid-area: releases;
}

#artists {
  grid-area: artists;
}

#lastRow {
  grid-area: about;
}

#about {
  grid-area: about;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.home {
  grid-area: app;
  background-color: #FFFFFF;
  color: #2C2A2D;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
  'news     releases'
  'artists  about';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1vh;
  row-gap: 2vh;
}

@media only screen and (max-width: 767px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vh;
    height: 100%;
    width: 100%;
  }

}



