.postPreview .postLink {
  /* font-size: 1.5vmin; */
  border-bottom: solid #ffcebe;
} 

.postPreview .postTitle {
  font-size: 1.5rem;
  border: none;
  margin-top: 2vh;
}  

.postPreview figure {
  height: 14vh;
  width: 14vh;
  float: left;
  object-fit: contain;
  margin: 0;    
  margin-right: 1vh;
  margin-bottom: 1vh;
}

.postPreview img {  
  object-fit: scale-down;
  height: 14vh;
  width: 14vh;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.previewHTML p {
  margin: 1vh;
}

.previewHTML p:nth-of-type(1n+2) {
  visibility: hidden;
}

.previewHTML {
  height: 17vh;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word; 
  hyphens: auto; 
  font-size: 1.5vmin;
  object-fit: scale-down;
  float: left;
  box-sizing: border-box;
  border-top: solid #ffcebe;
  width: 100%;
  font-size: 1rem;
}


#newsPreview {
  max-height: 100%;
  max-width: 47%;
  margin-right: 3vh;
}

#releasesLink {
  border-bottom: solid #ffcebe;
  font-size: 2vmin;
}

#latestReleases .displayGrid {
  margin-bottom: 1.5vh;
  margin-top: 1vh;
}

#latestReleases {
  width: 47%;
}

#latestReleases .cat_num{
  display: none;
}

#latestReleases .releaseCover {
  display: none;
}

#latestReleases .releasePreviewWrapper {
  height: auto;
}

#latestReleases .releaseHeadline {
  font-size: 1.5rem;
}

.mediaPlayer {
  margin-top: 1vh;
  width: 100%;
}

.home {
  background-color: #FFFFFF;
  color: #2C2A2D;
  display: flex;
  flex-flow: wrap;
}

/* Tablet sizing */
@media only screen and (max-width: 768px) {
  .postPreview .postTitle {
    font-size: 2.5vmin;
    border: none;
    margin-top: 2vh;
  }  

  .previewHTML {
    font-size: 2vmin;
    min-height: 18vh;
    max-height: 21vh; 
    margin-bottom: .5vh;
  }

  #latestReleases #releasesLink {
    font-size: 2.25vmin;
  }
  
  #latestReleases .displayGrid {
    margin-bottom: 1.5vh;
    margin-top: 1vh;
    margin-right: 1vh;
  }

  #latestReleases .releaseHeadline {
    font-size: 2.5vmin;
  }
  
}

/* Mobile screen sizing */
@media only screen and (max-width: 480px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    margin-right: 1.5vh;
    /* box-sizing: border-box; */
  }

  #newsPreview {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 2.5vh;
  }

  #latestReleases {
    padding-top: 2vh;
    width: 100%;
  }
  #latestReleases .displayGrid {
    margin-right: 0;
  }

  .postPreview .postTitle {
    font-size: 4.75vmin;
    margin-top: 3vh;
  }  

  .postPreview .postLink {
    font-size: 4.25vmin;
    margin-bottom: 5vh;
  } 

  .previewHTML {
    font-size: 4vmin;
    height: 21vh; 
    margin-bottom: .5vh;
  }

  #latestReleases #releasesLink {
    font-size: 4.75vmin;
  } 

  #latestReleases .releaseHeadline {
    font-size: 4.75vmin;
  }

  
}



