

#releaseTile img{
  display: flex;
  object-fit: scale-down;
  width: 100%;
  height: auto;
}

.preview_title{
  font-size: 1.5em;
  margin-top: .5vh;
}

.preview_artist {
  font-size: 1em;
  display: inline-block;
}

#releaseTile #full_info {
  display: none;
  width: 0;
  height: 0;
}

#releaseTile {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  hyphens: auto;
  object-fit: contain;
  height: auto;
  min-width: 10vh;
  max-width: 25vh;
  margin: 1vh;
}

/* #releaseTile:hover #preview_info{
      opacity: .8;
      transition: opacity .2s;
} */

