.releaseTile img {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  object-fit: scale-down;
  height: 25vh;
}

.releaseDetails {
  width: 100%;
  margin-left: 2vh;
  font-family: 'Inconsolata', monospace;
}

.releaseHeadline div {
  margin-right: 1vh;
}

.releaseHeadline {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 2vmin;
  font-family: 'Karla', sans-serif;
  border-bottom: solid #ffcebe; 
}

.tracksHeader {
  font-family: 'Karla', sans-serif;
  display: flex;
  width: auto;
  height: auto;
  border: none;
  background: none;
  outline: none;
  display: flex;
  line-height: .5vh;
}

.tracks ol {
  margin: 0;
  padding: 0;
}

.media {
  margin-top: 2vh;
}

.mediaPlayer {
  height: auto;
}

.tracks.expanded ol{
  visibility: visible;
  margin: 0;
  padding-left: 3.5vh;
  margin-top: .75vh;
}

.tracks.collapsed {
  visibility: hidden;
  height: 0;
} 

.releaseBio {
  margin: 0;
}

.dateHeader {
  margin-right: .5vh;
  font-family: 'Karla', sans-serif;
}

.releaseDate {
  font-family: 'Karla', sans-serif;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
}

.releaseTile {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  word-wrap: break-word;
  hyphens: auto;
  object-fit: contain;
  width: inherit;
  margin: 3vh;
  margin-left: 0;
  margin-bottom: 5vh;
  font-size: 1.5vmin;
}

.releaseTile .mediaPlayer {
  margin-bottom: 2vh;
  display: none;
}

/* CSS for mobile screens */
@media only screen and (max-width: 768px) {
  .releaseTile img {
    width: 15vh;
    height: 15vh;
  }

  .releaseTile.releaseHeadline {
    font-size: 4.75vw;
  }

  .releaseTile {
    font-size: 4vmin;
  }
}
