
#releaseTile img {
  display: flex;
  object-fit: scale-down;
  max-width: 30vh;
  max-height: 30vh;
}

#releaseDetails {
  width: 100%;
  margin-left: 2vh;
  font-family: 'Inconsolata', monospace;
}

#releaseHeadline div {
  margin-right: 1vh;
}

#releaseHeadline {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25em;
  /* font-size: 2.75vmin; */
  font-family: 'Karla', sans-serif;
  /* border-bottom: solid #ffcebe; */
  /* text-decoration: underline solid #ffcebe; */
}

#tracksHeader {
  display: flex;
  margin-top: 1vh;
  font-size: 2.25vmin;
}

.tracks {
  margin: 0;
}

#releaseBio {
  margin: 0;
}

#releaseTile {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  hyphens: auto;
  object-fit: contain;
  height: auto;
  width: 100%;
  height: auto;
  padding: 2vh;
  padding-left: 0;
  font-size: 2vmin;
  border-bottom: solid #ffcebe;; 
}
