.artistPreview .name {
    font-size: 3vmin;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Karla', sans-serif;
    margin-top: .25vh;
    border-top: solid #ffcebe;
}

.artistPreview img {
    display: flex;
    width: inherit;
    height: 10vh;
    object-fit: contian;
}

.artistPreview {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    max-width: 20vh;
}

@media only screen and (max-width: 480px) {
    .artistPreview .name {
        font-size: 4vmin;
    }
}