button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3vh;
    width: 1vh;
    border: none;
    font-size: 1em;
    background: none;
}  

.artistDetail .name {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
}

.artistDetail .location {
    font-size: .75em;
}

.artistDetail .artistPhoto {
    max-width: 216px;
    height: 116px;
    object-fit: cover;
    padding: 0;
    display: flex;
    margin-right: 1vh;
}

.artistDetail .desc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
    margin-bottom: 1.5vh;
}


.bio {
    border-top: solid #ffcebe;
    padding-top: 1vh;
}

.artistReleases #releaseTile {
    border: solid blue;
    width: 30%;
    object-fit: scale-down;
}

.artistReleases {
    border: solid red;
    display: flex;
    flex-flow: row wrap;
}
/*
.artistSlide {
    width: 60vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    margin-top: 10vh;
} */