.artistDetail button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3vh;
    width: 1vh;
    border: none;
    font-size: 1em;
    background: none;
    outline: none;
}  

.artistDetail .name {
    font-size: 4vmin;
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
}

.artistDetail .location {
    font-size: .75em;
}

.artistDetail .artistPhoto {
    max-width: 216px;
    height: 116px;
    object-fit: cover;
    padding: 0;
    display: flex;
    margin-right: 1vh;
}

.artistDetail .desc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
    margin-bottom: 1.5vh;
}

.bio {
    border-top: solid #ffcebe;
    padding-top: 1vh;
}

.artistDetail .sectionHeader {
    margin-top: 3vh;
    font-size: 1.25em;
    margin-bottom: 1vh;
}

.artistReleases {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
}

.artistReleases .mediaPlayer{
    display: none;
}

.releasePreviewWrapper {
    width: 100%;
}

.artistReleases {
    /* display: grid;
    margin-top: 2vh;
    gap: 1vh;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr)); */
    display: grid;
    margin-top: 2vh;
    gap: 0vh;
    grid-template-columns: repeat(2, minmax(20vh, 1fr));
  }

@media only screen and (max-width: 415px) {

    .artistDetail .name {
        margin-top: 3vh;
        font-size: 6vmin;
    }

    .artistDetail .bio {
        font-size: 2vmin;
    }

    /* .artistReleases {
        display: grid;
        margin-top: 2vh;
        gap: 0vh;
        grid-template-columns: repeat(2, minmax(20vh, 1fr));
      }
  .artistReleases {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    } 

    .artistReleases .releasePreviewWrapper{
        width: 100%;
    }

    .artistReleases .releaseHeadline{
        width: inherit;
        font-size: 3vmin;
    } */

    .artistDetail .artistPhoto {
        max-width: 60%;
        object-fit: cover;
        padding: 0;
        margin-left: 1vh;
    }
  }
