.artistDetail button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3vh;
    width: 1vh;
    border: none;
    font-size: 1em;
    background: none;
    outline: none;
}  

.artistDetail .name {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
}

.artistDetail .location {
    font-size: .75em;
}

.artistDetail .artistPhoto {
    max-width: 216px;
    height: 116px;
    object-fit: cover;
    padding: 0;
    display: flex;
    margin-right: 1vh;
}

.artistDetail .desc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
    margin-bottom: 1.5vh;
}

.bio {
    border-top: solid #ffcebe;
    padding-top: 1vh;
}

.artistDetail .sectionHeader {
    margin-top: 3vh;
    font-size: 1.9em;
}
.artistReleases .releaseHeadline {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    width: 100%;
    border-bottom: solid #ffcebe;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.artistReleases .releasePreview {
    display: flex;
    align-items: flex-end;
    object-fit: scale-down;
    margin-top: 2vh;
    margin-right: 2vh;
    width: 400px;
    padding: 0;
}

.artistReleases .releasePreview img {
    visibility: visible;
    object-fit: scale-down;
    display: flex;
    max-width: 15vh;
    max-height: 15vh;
    margin-right: 1vh;
}

.artistReleases .mediaPlayer {
    display: none;
}

.artistReleases {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}