


/* global styling */
body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  
  /* settings variables for screen sizes */
  $desktop: 1200px;
  $laptop: 1024px;
  $tablet: 768px;
  $phone: 480px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}