#logo {
    display: block;
    width: 15vh;
    height: auto; 
    margin-top: 1vh;

  }
  
  #logoWrapper img {
    width: auto;
    max-height: 10vh;
    object-fit: scale-down;
    margin-bottom: 2vh;
    border: solid blue;
  }
  
  #logoWrapper {
    display: inline-block;
    align-items: left;
    object-fit: scale-down;
    width: 100%;
    margin-bottom: 2vh;
    border: solid green;
    justify-items: center;
    margin-left: 10vh;
  }