#footer {
  display: flex;
  flex-direction: row;
  background-color: #212121;
  color: #efefef;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 3vh;
  padding-bottom: 5vh;
  font-size: 1.75vmin;
 }

 #footer a {
  color: #ffffff;
  text-decoration: underline;
}
 
#about {
  max-height: 100%;
  max-width: 47%;
  margin-right: 3vh;
}

#contact {
  max-height: 100%;
  max-width: 47%;
  margin-right: 3vh;
}

#layoutBody {
  margin-top: 2vh;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-bottom: 5vh;
  width: 100%;
}

#header {
  width: 100%;
  background: url(../../assets/halftone2.jpg);
  background-size: 67%;
  background-repeat: repeat;
  padding-top: 3vh;
  padding-bottom: 1.5vh;
  display: flex;
}

.text {
  border-bottom: solid transparent;
  margin-top: 1vh;
  margin-right: 2vh;
  color: white;
}

.active .text {
  border-bottom: solid #ffcebe;
  box-sizing: border-box; 
} 

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: auto;
  font-family: 'Inconsolata', monospace;
  font-size: 3vmin;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-right: 20vh;
}

#logoWrapper img {
  width: auto;
  max-height: 10vh;
  object-fit: scale-down;
  margin-bottom: 2vh;
}

#logoWrapper {
  justify-items: center;
  width: 100%;
  margin-left: 20vh;
}

#layout {
  color: #2C2A2D;
  display: flex;
  flex-flow: wrap;
  width: auto;
  box-sizing: border-box;
} 

.sectionHeader {
  font-size: 3.5vmin;
  font-family: 'Karla', sans-serif;
}

#artists .displayGrid {
  display: grid;
  margin-top: 2vh;
  gap: 1vh;
  grid-template-columns: repeat(auto-fill, minmax(20vh, auto));
}

#loading {
  margin: 3vh;
}

.content {
  width: 100%;
}

/* CSS for Laptop */
@media only screen and (max-width: 1179px) {
  #navLinks {
    margin-right: 2vh;
    width: 125%;
  }

  #logoWrapper {
    margin-left: 2vh;
  }

  #layoutBody {
    margin-left: 2vh;
    margin-right: 2vh;
    width: 100%;
  }

  #releases {
    width: auto;
  }

  #footer {
    width: 100%;
    padding-top: 5vh;
    padding-left: 2vh;
    padding-bottom: 5vh;
    padding-right: 2vh;
  }

}

/* CSS for tablets */
@media only screen and (max-width: 768px) {
  #navLinks {
    font-size: 3.5vmin;
    margin-right: 2vh;
    width: 60%;
  }

  .text {
    margin-right: 1.75vh; 
  }
}

/* CSS for mobile screens */
@media only screen and (max-width: 480px) {
  #logoWrapper {
    margin-left: 1vh;
  }
  
  #navLinks {
    margin-right: 1vh;
    font-size: 3.75vmin;
    width: 65%;
  }

  .text {
    margin-right: 1vh;
  }

  .sectionHeader {
    font-size: 6vmin;
  }

  #footer {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    font-size: 4vmin;
 }
  #contact {
    min-width: 100%;
  }

  #about {
    min-width: 100%;
  }


}